/***************************************
****************************************
****************************************
* Layout
***************************************/

html {
 background-color: $color_gray-brightest;
 color: $color_gray-darkest;
 font-family: "Fira Sans";
 font-size: 16px;
 font-weight: 400;
 line-height: 1.5;

 @media print {
   background: transparent !important; /* Only on html due to checkboxes */
   color: #000 !important; /* black prints faster */
   font-size: 12pt;
   -webkit-hyphens: auto;
   hyphens: auto;
   margin: 0; /* Override for safety */
   padding: 0; /* Override for safety */
 }
}

body {
  box-sizing: border-box;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: 1rem;
  max-width: 100%;
  padding: 0 2em;
  text-rendering: optimizeLegibility; /* NOTE May cause performance issues */
  word-wrap: break-word;

  @media screen and (min-width: 30rem) {
    font-size: 1.125rem;
    padding: 0 3em;
  }

  @media screen and (min-width: 40rem) {
    font-size: 1.25rem;
    padding: 0 4em;
  }

  @media screen and (min-width: 50rem) {
    font-size: 1.5rem;
  }

  @media screen {
    margin: 0 auto;
    width: 42em;
  }

  @media print {
    margin: 0 2cm 0 3cm;
    padding: 0;
  }
}

/* Make sure there’s no margin-top on first element */
body > :first-child {
  margin-top: 0;
  padding-top: 0;
}

/* give elements on new pages the same top margin as first element of document */
.page-break + * {
  margin-top: 0;
}


/* Header and footer */

.header, .footer {
  font-size: .75em;
}

.header {
  margin: 1cm 2cm 0 3cm;
  padding: 0;
  text-align: left;
}

.footer {
  margin: 1cm 2cm 0 3cm;
  padding: 0;
  text-align: right;
}

.front {
  margin: 0 2cm 0 3cm;
  padding: 0;
}


/* Night mode */

.night-mode {
  background-color: $color_gray-darkest;
  color: $color_gray-brightest;
}
