/***************************************
****************************************
****************************************
* Media
***************************************/

figure {
  @include vertical_margins;
  page-break-inside: avoid;
  page-break-after: avoid; /* Not supported by Webkit at time of writing, ref: https://bugs.webkit.org/show_bug.cgi?id=5097 */
}

img {
  max-width: 100%;
  overflow: hidden;
  page-break-inside: avoid;
  page-break-after: avoid; /* Not supported by Webkit at time of writing, ref: https://bugs.webkit.org/show_bug.cgi?id=5097 */
  vertical-align: top;

  figure & {
    display: block;
  }
}

figcaption {
  font-style: italic;
  margin-top: .5em;

  @media screen and (min-width: 30rem) {
    font-size: .75em;
  }
}
