/***************************************
****************************************
****************************************
* Tables
***************************************/

table {
  border: 0;
  border-collapse: collapse;
  font-size: .75em;
  @include vertical_margins;
  table-layout: fixed;
  width: 100%;
}

caption {
  text-align: left;
  font-style: italic;
  margin-bottom: .5em;
}

tr:first-of-type th {
  background-color: transparent;
  border-bottom: 2px solid $color_gray-darkest;

  .night-mode & {
    border-bottom: 2px solid $color_gray-brightest;
  }
}

tr:nth-of-type(even) {
  background-color: $color_gray-bright;

  .night-mode & {
    background-color: $color_gray-dark;
  }
}

th,
td {
  padding: .25rem .5rem .25rem 0;

  &:last-of-type,
  &:last-of-type {
    padding-right: 0;
  }
}

th {
  font-weight: 700;
}
