<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleIdentifier</key>
		<string>ch.pixelstrolch.firia.template</string>
		<key>CFBundleName</key>
		<string>FirIA</string>
		<key>CFBundleShortVersionString</key>
		<string>1.1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>IATemplateDocumentFile</key>
		<string>document</string>
		<key>IATemplateTitleFile</key>
		<string>title</string>
		<key>IATemplateFooterFile</key>
		<string>footer</string>
		<key>IATemplateFooterHeight</key>
		<integer>80</integer>
		<key>IATemplateHeaderFile</key>
		<string>header</string>
		<key>IATemplateHeaderHeight</key>
		<integer>80</integer>
		<key>IATemplateDescription</key>
		<string>iA Writer Template that uses the beautiful open font FiraSans</string>
		<key>IATemplateAuthor</key>
		<string>Stefan Brechbühl</string>
		<key>IATemplateAuthorURL</key>
		<string>https://www.pixelstrol.ch/firia</string>
	</dict>
</plist>
